.container {
  grid-template-columns: 1fr 2fr 1fr;
}
.sidebar {
  height: 100vh;
}

.banner {
  background: linear-gradient(
      0deg,
      rgba(250, 255, 189, 0.1),
      rgba(250, 255, 189, 0.1)
    ),
    linear-gradient(97.7deg, #fff8ee -2.41%, #fff1f1 54.11%, #f6d2ff 100.33%);
}
