.t-container {
  grid-template-columns: 1fr 2fr 1fr;
}

.t-banner {
  background: linear-gradient(
      0deg,
      rgba(250, 255, 189, 0.1),
      rgba(250, 255, 189, 0.1)
    ),
    linear-gradient(97.7deg, #fff8ee -2.41%, #fff1f1 54.11%, #f6d2ff 100.33%);
}

.t-item-overview {
  padding: var(--3xl) 0 var(--3xl) var(--xl);
  border-radius: var(--xl);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.04);
}

#role {
  background: linear-gradient(253.94deg, #ffffff 26.29%, #f7f7ff 82.37%);
}

#user {
  background: linear-gradient(253.94deg, #ffffff 26.29%, #eaf9ff 82.37%);
}

#component {
  background: linear-gradient(253.94deg, #ffffff 26.29%, #eefeff 82.37%);
}

#metadata {
  background: linear-gradient(253.94deg, #ffffff 26.29%, #fff9f1 82.37%);
}
