@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
:root {
  --action: #fe6d3f;
  --primary: #6226e1;
  --secondary: #a866fc;
  --tertiary: #e645e8;
  --text: #333333;
  --error: #eb5757;
  --disabled: #9e9e9e;
  --canvas: #f9f9fb;
  --white: #fff;
  --accent: ##08b1fa;
  --border: #cfd3db;
  --linear-green: linear-gradient(180deg, #dfedd3 0%, #d5f9b6 100%);
  --linear-builder: linear-gradient(90deg, #e645e8 0%, #6200de 100%);
  --2xs: 0.25rem;
  --xs: 0.5rem;
  --sm: 0.75rem;
  --md: 1rem;
  --lg: 1.25rem;
  --xl: 1.5rem;
  --2xl: 1.75rem;
  --3xl: 2rem;
  --4xl: 2.25rem;
  --5xl: 2.5rem;
  --6xl: 2.75rem;
  --7xl: 3rem;
  --8xl: 3.25rem;
  --9xl: 3.5rem;
  --10xl: 3.75rem;
  --11xl: 4rem;
  --full: 100%;
}

body {
  background-color: var(--canvas);
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* color theme  */
.theme-text {
  color: var(--text);
}

.theme-text-white {
  color: var(--white);
}

/* background  */
.theme-background-white {
  background: var(--white);
}

.theme-background-error {
  background: var(--error);
}

.theme-background-subtle {
  background: var(--canvas);
}

.theme-background-primary {
  background: var(--primary);
}

.theme-background-secondary {
  background: var(--secondary);
}

/* opacity */
.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 0.1;
}

.opacity-2 {
  opacity: 0.2;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-4 {
  opacity: 0.4;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-9 {
  opacity: 0.9;
}

.opacity-10 {
  opacity: 1;
}

/* display  */
.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-grid {
  display: grid;
  height: fit-content;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column-reverse {
  flex-direction: column-reverse;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

/* justify */
.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

/* align items  */
.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

/* width  */
.w-100 {
  width: var(--full);
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

/* height */

.h-100 {
  height: var(--full);
}

.h-75 {
  height: 75%;
}

.h-50 {
  height: 50%;
}

.h-25 {
  height: 25%;
}

/* size in rem */
.size-1 {
  width: var(--md);
  height: var(--md);
}

.size-2 {
  width: var(--3xl);
  height: var(--3xl);
}

.size-3 {
  width: var(--7xl);
  height: var(--7xl);
}

.size-4 {
  width: var(--11xl);
  height: var(--11xl);
}

.size-full {
  width: var(--full);
  height: var(--full);
}

/* border radius  */
.radius-2xs {
  border-radius: var(--2xs);
}

.radius-xs {
  border-radius: var(--xs);
}

.radius-sm {
  border-radius: var(--sm);
}

.radius-md {
  border-radius: var(--md);
}

.radius-lg {
  border-radius: var(--lg);
}
.radius-xl {
  border-radius: var(--xl);
}

.radius-full {
  border-radius: var(--full);
}

/* margin */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0;
}

/* padding x  */
.px-2xs {
  padding-left: var(--2xs);
  padding-right: var(--2xs);
}

.px-xs {
  padding-left: var(--xs);
  padding-right: var(--xs);
}

.px-sm {
  padding-left: var(--sm);
  padding-right: var(--sm);
}

.px-md {
  padding-left: var(--md);
  padding-right: var(--md);
}

.px-lg {
  padding-left: var(--lg);
  padding-right: var(--lg);
}
.px-xl {
  padding-left: var(--xl);
  padding-right: var(--xl);
}

.px-2xl {
  padding-left: var(--2xl);
  padding-right: var(--2xl);
}

.px-3xl {
  padding-left: var(--3xl);
  padding-right: var(--3xl);
}

.px-4xl {
  padding-left: var(--4xl);
  padding-right: var(--4xl);
}

.px-5xl {
  padding-left: var(--5xl);
  padding-right: var(--5xl);
}

/* padding y  */
.py-2xs {
  padding-top: var(--2xs);
  padding-bottom: var(--2xs);
}

.py-xs {
  padding-top: var(--xs);
  padding-bottom: var(--xs);
}

.py-sm {
  padding-top: var(--sm);
  padding-bottom: var(--sm);
}

.py-md {
  padding-top: var(--md);
  padding-bottom: var(--md);
}

.py-lg {
  padding-top: var(--lg);
  padding-bottom: var(--lg);
}
.py-xl {
  padding-top: var(--xl);
  padding-bottom: var(--xl);
}

.py-2xl {
  padding-top: var(--2xl);
  padding-bottom: var(--2xl);
}

.py-3xl {
  padding-top: var(--3xl);
  padding-bottom: var(--3xl);
}

.py-4xl {
  padding-top: var(--4xl);
  padding-bottom: var(--4xl);
}

.py-5xl {
  padding-top: var(--5xl);
  padding-bottom: var(--5xl);
}

/* gap  */
.gap-2xs {
  gap: var(--2xs);
}

.gap-xs {
  gap: var(--xs);
}

.gap-sm {
  gap: var(--sm);
}

.gap-md {
  gap: var(--md);
}

.gap-lg {
  gap: var(--lg);
}

.gap-xl {
  gap: var(--xl);
}

.gap-2xl {
  gap: var(--2xl);
}

.gap-3xl {
  gap: var(--3xl);
}

.gap-4xl {
  gap: var(--4xl);
}

.gap-5xl {
  gap: var(--5xl);
}

.gap-6xl {
  gap: var(--6xl);
}

.gap-7xl {
  gap: var(--7xl);
}

/* accent  */
.object {
  color: var(--primary);
}

/* skeleton element  */
.container-card {
  padding: var(--md);
  border-radius: var(--md);
}
.shadow-card {
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.04);
  background-color: var(--white);
}

.responsive-element {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
  gap: 16px;
}

/* desktop  */
@media (min-width: 768px) {
  .sorry {
    display: none;
  }
  .heading-1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: Inter;
  }

  .heading-2 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Inter;
  }

  .heading-3 {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Inter;
  }

  .p_regular_xs {
    font-size: 0.75rem;
    font-weight: 400;
    font-family: Inter;
  }

  .p_regular_sm {
    font-size: 0.875rem;
    font-weight: 400;
    font-family: Inter;
  }

  .p_regular_md {
    font-size: 1rem;
    font-weight: 400;
    font-family: Inter;
  }

  /* semibold  */
  .p_semibold_xs {
    font-size: 0.75rem;
    font-weight: 600;
    font-family: Inter;
  }

  .p_semibold_sm,
  label {
    font-size: 0.875rem;
    font-weight: 600;
    font-family: Inter;
  }

  .p_semibold_md {
    font-size: 1rem;
    font-weight: 600;
    font-family: Inter;
  }

  /* bold  */
  .p_bold_xs {
    font-size: 0.75rem;
    font-weight: 700;
    font-family: Inter;
  }

  .p_bold_sm {
    font-size: 0.875rem;
    font-weight: 700;
    font-family: Inter;
  }

  .p_bold_md {
    font-size: 1rem;
    font-weight: 700;
    font-family: Inter;
  }
}

/* mobile  */
@media (max-width: 768px) {
  .feature {
    display: none;
  }
  .heading-1 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Inter;
  }

  .heading-2 {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Inter;
  }

  .heading-3 {
    font-size: 1rem;
    font-weight: bold;
    font-family: Inter;
  }

  .p_regular_xs {
    font-size: 0.625rem;
    font-weight: 400;
    font-family: Inter;
  }

  .p_regular_sm {
    font-size: 0.75rem;
    font-weight: 400;
    font-family: Inter;
  }

  .p_regular_md {
    font-size: 0.875rem;
    font-weight: 400;
    font-family: Inter;
  }

  /* semibold  */
  .p_semibold_xs {
    font-size: 0.625rem;
    font-weight: 600;
    font-family: Inter;
  }

  .p_semibold_sm {
    font-size: 0.75rem;
    font-weight: 600;
    font-family: Inter;
  }

  .p_semibold_md {
    font-size: 0.875rem;
    font-weight: 600;
    font-family: Inter;
  }

  /* bold  */
  .p_bold_xs {
    font-size: 0.625rem;
    font-weight: 700;
    font-family: Inter;
  }

  .p_bold_sm {
    font-size: 0.75rem;
    font-weight: 700;
    font-family: Inter;
  }

  .p_bold_md {
    font-size: 0.875rem;
    font-weight: 700;
    font-family: Inter;
  }
}

/* state */
a {
  text-decoration: none;
  color: var(--text);
}
.active p {
  color: var(--primary);
  font-weight: bold;
}

.disabled {
  color: var(--disabled);
}

.error {
  color: var(--error);
}

/* component  */
.card {
  background-color: var(--white);
  padding: var(--sm);
  display: flex;
  align-items: center;
  gap: var(--sm);
  border-radius: var(--2xs);
  color: var(--text);
}

.button {
  padding: var(--sm) var(--3xl);
  border-radius: var(--xl);
  align-items: center;
  width: fit-content;
  font-weight: bold;
}

.button-primary {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

.button-secondary {
  background-color: var(--white);
  border: 1px solid var(--border);
  color: var(--text);
}

.button-tertiary {
  background-color: var(--action);
  color: var(--white);
  border: none;
}

.modal {
  border-radius: var(--sm);
  padding: var(--3xl);
  gap: var(--xl);
  display: grid;
}

.field {
  display: grid;
  gap: var(--xs);
}

.field input,
.field select,
.field textarea {
  border: 1px solid var(--border);
  border-radius: var(--2xs);
  padding: var(--sm);
}
