@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
:root {
  --t-action: #fe6d3f;
  --t-primary: #6226e1;
  --t-secondary: #a866fc;
  --t-tertiary: #e645e8;
  --t-text: #333333;
  --t-error: #eb5757;
  --t-disabled: #9e9e9e;
  --t-canvas: #f9f9fb;
  --t-white: #fff;
  --t-accent: ##08b1fa;
  --t-border: #cfd3db;
  --t-linear-green: linear-gradient(180deg, #dfedd3 0%, #d5f9b6 100%);
  --t-linear-builder: linear-gradient(90deg, #e645e8 0%, #6200de 100%);
  --t-2xs: 0.25rem;
  --t-xs: 0.5rem;
  --t-sm: 0.75rem;
  --t-md: 1rem;
  --t-lg: 1.25rem;
  --t-xl: 1.5rem;
  --t-2xl: 1.75rem;
  --t-3xl: 2rem;
  --t-4xl: 2.25rem;
  --t-5xl: 2.5rem;
  --t-6xl: 2.75rem;
  --t-7xl: 3rem;
  --t-8xl: 3.25rem;
  --t-9xl: 3.5rem;
  --t-10xl: 3.75rem;
  --t-11xl: 4rem;
  --t-12xl: 5rem;

  --t-full: 100%;
}

body {
  background-color: var(--t-canvas);
  font-family: "Inter", sans-serif;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* color theme  */
.t-theme-text {
  color: var(--t-text);
}

.t-theme-text-white {
  color: var(--t-white);
}

/* background  */
.t-theme-background-white {
  background: var(--t-white);
}

.t-theme-background-error {
  background: var(--t-error);
}

.t-theme-background-subtle {
  background: var(--t-canvas);
}

.t-theme-background-primary {
  background: var(--t-primary);
}

.t-theme-background-secondary {
  background: var(--t-secondary);
}

/* opacity */
.t-opacity-0 {
  opacity: 0;
}

.t-opacity-1 {
  opacity: 0.1;
}

.t-opacity-2 {
  opacity: 0.2;
}

.t-opacity-3 {
  opacity: 0.3;
}

.t-opacity-4 {
  opacity: 0.4;
}

.t-opacity-5 {
  opacity: 0.5;
}

.t-opacity-6 {
  opacity: 0.6;
}

.t-opacity-7 {
  opacity: 0.7;
}

.t-opacity-8 {
  opacity: 0.8;
}

.t-opacity-9 {
  opacity: 0.9;
}

.t-opacity-10 {
  opacity: 1;
}

/* display  */
.t-d-flex {
  display: flex;
}

.t-d-none {
  display: none;
}

.t-d-grid {
  display: grid;
  height: fit-content;
}

.t-flex-direction-column {
  flex-direction: column;
}

.t-flex-direction-row {
  flex-direction: row;
}

.t-flex-direction-column-reverse {
  flex-direction: column-reverse;
}

.t-flex-direction-row-reverse {
  flex-direction: row-reverse;
}

/* justify */
.t-justify-content-center {
  justify-content: center;
}

.t-justify-content-end {
  justify-content: flex-end;
}

.t-justify-content-space-between {
  justify-content: space-between;
}

.t-justify-content-space-around {
  justify-content: space-around;
}

.t-justify-content-space-evenly {
  justify-content: space-evenly;
}

/* align items  */
.t-align-items-center {
  align-items: center;
}

.t-align-items-baseline {
  align-items: baseline;
}

/* width  */
.t-w-100 {
  width: var(--t-full);
}

.t-w-75 {
  width: 75%;
}

.t-w-50 {
  width: 50%;
}

.t-w-25 {
  width: 25%;
}

/* height */

.t-h-100 {
  height: var(--t-full);
}

.t-h-75 {
  height: 75%;
}

.t-h-50 {
  height: 50%;
}

.t-h-25 {
  height: 25%;
}

/* size in rem */
.t-size-1 {
  width: var(--t-md);
  height: var(--t-md);
}

.t-size-2 {
  width: var(--t-3xl);
  height: var(--t-3xl);
}

.t-size-3 {
  width: var(--t-7xl);
  height: var(--t-7xl);
}

.t-size-4 {
  width: var(--t-11xl);
  height: var(--t-11xl);
}

.t-size-5 {
  width: var(--t-12xl);
  height: var(--t-12xl);
}

.t-size-500 {
  width: 500px;
  height: 500px;
}

.t-size-full {
  width: var(--t-full);
  height: var(--t-full);
}

/* border radius  */
.t-radius-2xs {
  border-radius: var(--t-2xs);
}

.t-radius-xs {
  border-radius: var(--t-xs);
}

.t-radius-sm {
  border-radius: var(--t-sm);
}

.t-radius-md {
  border-radius: var(--t-md);
}

.t-radius-lg {
  border-radius: var(--t-lg);
}
.t-radius-xl {
  border-radius: var(--t-xl);
}

.t-radius-full {
  border-radius: var(--t-full);
}

.t-scroll-y {
  overflow-y: scroll;
}

.t-scroll-x {
  overflow-x: scroll;
}

/* margin */
.t-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.t-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.t-m-auto {
  margin: auto;
}

.t-m-0 {
  margin: 0;
}

/* padding x  */
.t-px-2xs {
  padding-left: var(--t-2xs);
  padding-right: var(--t-2xs);
}

.t-px-xs {
  padding-left: var(--t-xs);
  padding-right: var(--t-xs);
}

.t-px-sm {
  padding-left: var(--t-sm);
  padding-right: var(--t-sm);
}

.t-px-md {
  padding-left: var(--t-md);
  padding-right: var(--t-md);
}

.t-px-lg {
  padding-left: var(--t-lg);
  padding-right: var(--t-lg);
}
.t-px-xl {
  padding-left: var(--t-xl);
  padding-right: var(--t-xl);
}

.t-px-2xl {
  padding-left: var(--t-2xl);
  padding-right: var(--t-2xl);
}

.t-px-3xl {
  padding-left: var(--t-3xl);
  padding-right: var(--t-3xl);
}

.t-px-4xl {
  padding-left: var(--t-4xl);
  padding-right: var(--t-4xl);
}

.t-px-5xl {
  padding-left: var(--t-5xl);
  padding-right: var(--t-5xl);
}

/* padding y  */
.t-py-2xs {
  padding-top: var(--t-2xs);
  padding-bottom: var(--t-2xs);
}

.t-py-xs {
  padding-top: var(--t-xs);
  padding-bottom: var(--t-xs);
}

.t-py-sm {
  padding-top: var(--t-sm);
  padding-bottom: var(--t-sm);
}

.t-py-md {
  padding-top: var(--t-md);
  padding-bottom: var(--t-md);
}

.t-py-lg {
  padding-top: var(--t-lg);
  padding-bottom: var(--t-lg);
}
.t-py-xl {
  padding-top: var(--t-xl);
  padding-bottom: var(--t-xl);
}

.t-py-2xl {
  padding-top: var(--t-2xl);
  padding-bottom: var(--t-2xl);
}

.t-py-3xl {
  padding-top: var(--t-3xl);
  padding-bottom: var(--t-3xl);
}

.t-py-4xl {
  padding-top: var(--t-4xl);
  padding-bottom: var(--t-4xl);
}

.t-py-5xl {
  padding-top: var(--t-5xl);
  padding-bottom: var(--t-5xl);
}

/* gap  */
.t-gap-2xs {
  gap: var(--t-2xs);
}

.t-gap-xs {
  gap: var(--t-xs);
}

.t-gap-sm {
  gap: var(--t-sm);
}

.t-gap-md {
  gap: var(--t-md);
}

.t-gap-lg {
  gap: var(--t-lg);
}

.t-gap-xl {
  gap: var(--t-xl);
}

.t-gap-2xl {
  gap: var(--t-2xl);
}

.t-gap-3xl {
  gap: var(--t-3xl);
}

.t-gap-4xl {
  gap: var(--t-4xl);
}

.t-gap-5xl {
  gap: var(--t-5xl);
}

.t-gap-6xl {
  gap: var(--t-6xl);
}

.t-gap-7xl {
  gap: var(--t-7xl);
}

/* accent  */
.t-object {
  color: var(--t-primary);
}

/* skeleton element  */
.t-container-card {
  padding: var(--t-md);
  border-radius: var(--t-md);
}
.t-shadow-card {
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.04);
  background-color: var(--t-white);
}

.t-responsive-element {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
  gap: 16px;
}

/* desktop  */
@media (min-width: 768px) {
  .t-sorry {
    display: none;
  }
  .t-heading-1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: Inter;
  }

  .t-heading-2 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Inter;
  }

  .t-heading-3 {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Inter;
  }

  .t-p_regular_xs {
    font-size: 0.75rem;
    font-weight: 400;
    font-family: Inter;
  }

  .t-p_regular_sm {
    font-size: 0.875rem;
    font-weight: 400;
    font-family: Inter;
  }

  .t-p_regular_md {
    font-size: 1rem;
    font-weight: 400;
    font-family: Inter;
  }

  /* semibold  */
  .t-p_semibold_xs {
    font-size: 0.75rem;
    font-weight: 600;
    font-family: Inter;
  }

  .t-p_semibold_sm,
  label {
    font-size: 0.875rem;
    font-weight: 600;
    font-family: Inter;
  }

  .t-p_semibold_md {
    font-size: 1rem;
    font-weight: 600;
    font-family: Inter;
  }

  /* bold  */
  .t-p_bold_xs {
    font-size: 0.75rem;
    font-weight: 700;
    font-family: Inter;
  }

  .t-p_bold_sm {
    font-size: 0.875rem;
    font-weight: 700;
    font-family: Inter;
  }

  .t-p_bold_md {
    font-size: 1rem;
    font-weight: 700;
    font-family: Inter;
  }
}

/* mobile  */
@media (max-width: 768px) {
  .t-feature {
    display: none;
  }
  .t-heading-1 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Inter;
  }

  .t-heading-2 {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Inter;
  }

  .t-heading-3 {
    font-size: 1rem;
    font-weight: bold;
    font-family: Inter;
  }

  .t-p_regular_xs {
    font-size: 0.625rem;
    font-weight: 400;
    font-family: Inter;
  }

  .t-p_regular_sm {
    font-size: 0.75rem;
    font-weight: 400;
    font-family: Inter;
  }

  .t-p_regular_md {
    font-size: 0.875rem;
    font-weight: 400;
    font-family: Inter;
  }

  /* semibold  */
  .t-p_semibold_xs {
    font-size: 0.625rem;
    font-weight: 600;
    font-family: Inter;
  }

  .t-p_semibold_sm {
    font-size: 0.75rem;
    font-weight: 600;
    font-family: Inter;
  }

  .t-p_semibold_md {
    font-size: 0.875rem;
    font-weight: 600;
    font-family: Inter;
  }

  /* bold  */
  .t-p_bold_xs {
    font-size: 0.625rem;
    font-weight: 700;
    font-family: Inter;
  }

  .t-p_bold_sm {
    font-size: 0.75rem;
    font-weight: 700;
    font-family: Inter;
  }

  .t-p_bold_md {
    font-size: 0.875rem;
    font-weight: 700;
    font-family: Inter;
  }
}

/* state */
a {
  text-decoration: none;
  color: var(--t-text);
}
.t-active p {
  color: var(--t-primary);
  font-weight: bold;
}

.t-disabled {
  color: var(--t-disabled);
}

.t-error {
  color: var(--t-error);
}

/* component  */
.t-card {
  background-color: var(--t-white);
  padding: var(--t-sm);
  display: flex;
  align-items: center;
  gap: var(--t-sm);
  border-radius: var(--t-2xs);
  color: var(--t-text);
}

.t-button {
  padding: var(--t-sm) var(--t-3xl);
  border-radius: var(--t-xs);
  align-items: center;
  width: fit-content;
  font-weight: bold;
  height: fit-content;
}

.t-button-primary {
  background-color: var(--t-primary);
  color: var(--t-white);
  border: none;
}

.t-button-secondary {
  background-color: var(--t-white);
  border: 1px solid var(--t-border);
  color: var(--t-text);
}

.t-button-tertiary {
  background-color: var(--t-action);
  color: var(--t-white);
  border: none;
}

.t-modal {
  border-radius: var(--t-sm);
  padding: var(--t-3xl);
  gap: var(--t-xl);
  display: grid;
}

.t-field {
  display: grid;
  gap: var(--t-xs);
}

.t-field input,
.t-field select,
.t-field textarea {
  border: 1px solid var(--t-border);
  border-radius: var(--t-2xs);
  padding: var(--t-sm);
}

select {
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat !important;
  background-position: calc(100% - 1rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
}

.t-cta-modal {
  position: absolute;
  right: 0;
  bottom: 0;
  gap: 1rem;
  background: var(--t-white);
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.t-navbar {
  background-color: var(--t-white);
  padding: 1rem 2rem;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.04);
}

ul.menu li {
  list-style-type: none;
}
